.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: steelblue;
  padding: 1px;
  color: white;
  border-bottom: 2px solid #aaa;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
}

.App-body {
  display: flex;
  flex: 1;
}

.App-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}

.container-body {
  flex: 1;
  box-sizing: border-box;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
}

.container-title {
  flex: none;
  box-sizing: border-box;
  background: lightgray;
  height: 50px;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player .container-body {
  background: black;
  border-right: none;
}

.player .container-title {
  border-right: none;
}

.command-output .container-body {
  background: lightgray;
  border-right: none;
  overflow-y: auto;
}

.command-output .container-title {
  border-right: none;
}

.react-codemirror2, .CodeMirror {
  height: 100%;
}

.ReactModalPortal {
  z-index: 10;
  position: relative;
}

.ReactModal__Content {
  width: 300px;
  height: 200px;
  top: 150px !important;
  left: 80px !important;
  right: 0 !important;
  bottom: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background: lightgray;
  padding: 10px;
}

.modal-content {
  flex: 1;
  display: flex;
}

.modal-content textarea {
  flex: 1;
}

.code-output {
  white-space: pre;
}
